<% provide :title, t(".home_page") %>
  <section class="home-section section-hero overlay bg-image" style="background-image: url('/assets/hero_1.jpg');"
    id="home-section">

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="mb-5 text-center">
            <h1 class="text-white font-weight-bold">Tìm Kiếm Việc Làm</h1>
            <p>Tìm công việc mơ ước<b> Nâng bước thành công</b> với hơn <b>43,000</b> cơ hội nghề nghiệp.</p>
          </div>
          <form method="post" class="search-jobs-form">
            <div class="row mb-5">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <input type="text" class="form-control form-control-lg" placeholder="Nhập tiêu đề, công ty...">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span
                    class="icon-search icon mr-2"></span>Tìm kiếm</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 popular-keywords">
                <h3>Xu hướng tìm kiếm:</h3>
                <ul class="keywords list-unstyled m-0 p-0">
                  <li><a href="#" class="">Thiết kế đồ họa</a></li>
                  <li><a href="#" class="">PHP Developers</a></li>
                  <li><a href="#" class="">Angular</a></li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-2">Tất cả công việc</h2>
        </div>
      </div>

      <ul class="job-listings mb-5">
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          <a href="#"></a>
          <!--job-single.html-->
          <div class="job-listing-logo">
            <img src="/assets/fpt.png" alt="FPT Software logo" class="img-fluid">
          </div>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>(.Net/ PHP) Developer</h2>
              <strong>FPT Software</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> Đà Nẵng, Việt Nam
            </div>
            <div class="job-listing-meta">
              <span class="badge badge-danger">Part Time</span>
            </div>
          </div>

        </li>
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          <a href="#"></a>
          <div class="job-listing-logo">
            <img src="/assets/gameloft.png" alt="Gameloft logo" class="img-fluid">
          </div>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Lập Trình Viên Game</h2>
              <strong>Gameloft</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> Hồ Chí Minh, Việt Nam
            </div>
            <div class="job-listing-meta">
              <span class="badge badge-success">Full Time</span>
            </div>
          </div>
        </li>

        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          <a href="#"></a>
          <div class="job-listing-logo">
            <img src="/assets/Amazon-logo.PNG" alt="Amazon logo" class="img-fluid">
          </div>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Back-end Engineer (Python)</h2>
              <strong>Amazon</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> New York, New York
            </div>
            <div class="job-listing-meta">
              <span class="badge badge-success">Part Time</span>
            </div>
          </div>
        </li>

        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          <a href="#"></a>
          <div class="job-listing-logo">
            <img src="/assets/framgia.png" alt="framgia logo" class="img-fluid">
          </div>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Machine Learning</h2>
              <strong>Framgia</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> Anywhere
            </div>
            <div class="job-listing-meta">
              <span class="badge badge-success">Full Time</span>
            </div>
          </div>
        </li>

        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          <a href="#"></a>
          <div class="job-listing-logo">
            <img src="/assets/pumalogo.png" alt="Puma logo" class="img-fluid">
          </div>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Product Designer</h2>
              <strong>Puma</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> Hirosima, Japan
            </div>
            <div class="job-listing-meta">
              <span class="badge badge-success">Full Time</span>
            </div>
          </div>
        </li>
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          <a href="#"></a>
          <div class="job-listing-logo">
            <img src="/assets/axon.png" alt="Axon Active logo" class="img-fluid">
          </div>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Front-End Developers</h2>
              <strong>Axon Active</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> Bình Dương, Việt Nam
            </div>
            <div class="job-listing-meta">
              <span class="badge badge-danger">Intership</span>
            </div>
          </div>

        </li>
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          <a href="#"></a>
          <div class="job-listing-logo">
            <img src="/assets/mgm.png" alt="mgm logo" class="img-fluid">
          </div>

          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>Senior Java Developer</h2>
              <strong>mgm</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> Đà Nẵng, Việt Nam
            </div>
            <div class="job-listing-meta">
              <span class="badge badge-success">Full Time</span>
            </div>
          </div>
        </li>




      </ul>

      <div class="row pagination-wrap">
        <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
          <span>Hiển thị 1-7 trong hơn 43,000 công việc</span>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <div class="custom-pagination ml-auto">
            <a href="#" class="prev">Trước</a>
            <div class="d-inline-block">
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
            </div>
            <a href="#" class="next">Sau</a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- ************************************************************ -->
  <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('/assets/hero_1.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h2 class="text-white">Bạn đang tìm kiếm một công việc ổn định?</h2>
          <p class="mb-0 text-white lead">Hãy tạo hồ sơ ngay để nhà tuyển dụng có thể nhìn thấy bạn, tiếp cận hàng ngàn
            cơ hội việc làm.</p>
        </div>
        <div class="col-md-3 ml-auto">
          <a href="#" class="btn btn-warning btn-block btn-lg">Đăng ký</a>
        </div>
      </div>
    </div>
  </section>


  <section class="site-section py-4">
    <div class="container">

      <div class="row align-items-center">
        <div class="col-12 text-center mt-4 mb-5">
          <div class="row justify-content-center">
            <div class="col-md-7">
              <h2 class="section-title mb-2">Các Nhà Tuyển Dụng Hàng Đầu</h2>
              <p class="lead">Chúng tôi là đối tác đào tạo, nghiên cứu và hợp tác với các công ty, trung tâm tin học
                trong và ngoài nước như FPT Software, Microsoft, ... và hàng ngàn các nhà tuyển dụng khác.</p>
            </div>
          </div>

        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src="/assets/fpt.png" alt="Image" class="img-fluid logo-1">
        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src="/assets/gameloft.png" alt="Image" class="img-fluid logo-2">
        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src="/assets/mgm.png" alt="Image" class="img-fluid logo-3">
        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src="/assets/pumalogo.png" alt="Image" class="img-fluid logo-4">
        </div>

        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src="/assets/logo_enclave_12.png" alt="Image" class="img-fluid logo-5">
        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src="/assets/axon.png" alt="Image" class="img-fluid logo-6">
        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src="/assets/Amazon-logo.PNG" alt="Image" class="img-fluid logo-7">
        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src="/assets/microsoft.png" alt="Image" class="img-fluid logo-8">
        </div>
      </div>
    </div>
  </section>
